*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.common-btn{
    display: inline-block;
    background-color: #1D4ED8;
    color: white;
    padding: 14px 35px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
}
.common-btn:hover{
    background-color: #3566ee;
}

.container{
    max-width: 1250px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 22px 0;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 100px;
    align-items: center;
}
ul li a{
    text-decoration: none;

}
/* hero section style */
.banner{
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.banner-content{
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 0 20px;
}
.banner-conent-h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -1px;

}
.banner-conent-p{
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
}
.banner-content-btn button{
    font-size: 20px;
    font-weight: 400;
    align-items: center; 
    padding: 20px 50px;
    margin-top: 400px;
    margin-bottom: auto;
}
.speakers{
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
}
.speakers h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
    
    
}
.speaker-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    border-radius: 12pxgit ;

}
.card{
    background: #FFFFFF;
    border-radius: 14px;
    box-shadow:0 1px 6px rgba(0,0,0,1);
    transition: .3s;
}

.card:hover{
        
        transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.category{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 12px;
    color: #1D4ED8;
}
.card h3{
    font-size: 20px;
    margin-bottom: 10px;

}
.card p{
    font-size: 13px;
    max-width: 800px;
}



